In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_final_data_report = pd.read_csv('data/FinalDataReport.csv')
df_final_data_report['title'] = df_final_data_report['title'].astype(int)
df_final_data_report.rename(columns={'title': 'movieId'}, inplace=True)
df_ratings = pd.read_csv('data/ml-latest-small/ratings.csv')
df_ratings.drop(columns=['timestamp'], inplace=True)
print(df_final_data_report.head())
print(df_ratings.head())

   survey_number  movieId  rating
0              1    77846       2
1              1      924       2
2              1    73881       2
3              1     1214       2
4              1     1200       1
   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
df_final_data_report['rating'] = (3 - df_final_data_report['rating']) * (5 / 3)
df_final_data_report.rename(columns={'survey_number': 'userId'}, inplace=True)
print(df_final_data_report.head())

   userId  movieId    rating
0       1    77846  1.666667
1       1      924  1.666667
2       1    73881  1.666667
3       1     1214  1.666667
4       1     1200  3.333333

In [ ]:
start_user_id = 611
rows_per_user = 91

df_final_data_report['userId'] = start_user_id + (df_final_data_report.index // rows_per_user)

In [ ]:
df_merged = pd.concat([df_ratings, df_final_data_report], ignore_index=True)
df_merged.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [13]:
df_merged.tail()

        userId  movieId    rating
102557     629       50  5.000000
102558     629        1  5.000000
102559     629    78499  5.000000
102560     629    60069  5.000000
102561     629   166024  1.666667

In [14]:
df_merged.to_csv('data/merged.csv', index=False)